{% extends 'portal.html' %}

{% block title %}
  {{assessment}} | Data Pivot | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'data_pivot:list' assessment.pk %}">Data Pivot</a><span class="divider">/</span></li>
  <li class='active'> Create new <span class="divider">/</span></li>
{% endblock %}

{% block content %}

    <h1>Create data pivot</h1>

  Two different types of data-pivots can be created. Please select the type you'd like to use:

  <hr>

  <p class="lead">Option #1: All endpoints (Query-based)</p>
  <p class='help-block'>
    Create a data-pivot by selecting all data of a particular study-design in the
    database. This is a full data-download of all available data in HAWC for a
    particular assessment and study-design, but can be filtered to include a
    smaller subset of data. Your visualization settings will always be applied
    to the dataset; therefore the visualization may change if additional data
    is added, but will always include the latest data from the HAWC database.
  </p>
  <a href="{% url 'data_pivot:new-query' assessment.pk %}" class="btn btn-primary">Select Option #1</a>

  <hr>

  <p class="lead">Option #2: Subset of endpoints (Query-based)</p>
  <p class='help-block'>
    Create a data-pivot by selecting specific endpoints to be included into a
    data pivot. This design should be used to select a subset of endpoints
    <i>a priori</i>. Your visualization settings will always be applied to the
    dataset; therefore the visualization may change if the selected-endpoints
    change, but will always include the latest data from the HAWC database.
  </p>
  <a href="{% url 'data_pivot:new-query-subset' assessment.pk %}" class="btn btn-primary">Select Option #2</a>

  <hr>

  <p class="lead">Option #3: Input file (Input-file)</p>
  <p class='help-block'>
    Create a data-pivot based on an uploaded file of data.
    Your visualization settings will always be applied to the dataset; therefore
    the visualization may change if additional data is added, but will always
    include the latest data from the HAWC database.
  </p>
  <a href="{% url 'data_pivot:new-file' assessment.pk %}" class="btn btn-primary">Select Option #3</a>

{% endblock %}
